
[V200R003C00]
#
 sysname HAFNIUM DATACENTER ASBR
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load flash:/portalpage.zip
#
 drop illegal-mac alarm
#
 wlan ac-global carrier id other ac id 0
#
 set cpu-usage threshold 80 restore 75
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$K8m.Nt84DZ}e#<0`8bmE3Uw}%$%$
 local-user admin service-type http
#
firewall zone Local
 priority 15
#
interface GigabitEthernet0/0/0
 description Uplink to RADON SPE
#
interface GigabitEthernet0/0/0.1003
 description DM_Disaster_Recovery-HQ
 dot1q termination vid 1003
 ip address 10.205.50.2 255.255.255.252 
 arp broadcast enable
#
interface GigabitEthernet0/0/1
 description Link to DM BACKUP SERVER
 ip address 172.16.10.1 255.255.255.0 
#
interface GigabitEthernet0/0/2
 description Link to AZURE NETWORK
 ip address 172.16.11.1 255.255.255.0 
#
interface NULL0
#
interface LoopBack0
 ip address 10.10.10.10 255.255.255.255 
#
bgp 65200
 peer 10.205.50.1 as-number 65100 
 #
 ipv4-family unicast
  undo synchronization
  network 10.10.10.10 255.255.255.255 
  network 172.16.10.0 255.255.255.0 
  network 172.16.11.0 255.255.255.0 
  peer 10.205.50.1 enable
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
user-interface vty 16 20
#
wlan ac
#
return