
[V200R003C00]
#
 sysname NASHUA BRANCH
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load flash:/portalpage.zip
#
 drop illegal-mac alarm
#
 wlan ac-global carrier id other ac id 0
#
 set cpu-usage threshold 80 restore 75
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$K8m.Nt84DZ}e#<0`8bmE3Uw}%$%$
 local-user admin service-type http
#
firewall zone Local
 priority 15
#
interface GigabitEthernet0/0/0
 description Link to RANDON SPE
#
interface GigabitEthernet0/0/0.1001
 description DM_L3VPN
 dot1q termination vid 1001
 ip address 10.205.54.2 255.255.255.252 
 arp broadcast enable
#
interface GigabitEthernet0/0/1
#
interface GigabitEthernet0/0/2
#
interface NULL0
#
interface LoopBack0
 ip address 10.0.2.2 255.255.255.255 
#
bgp 65001
 peer 10.205.54.1 as-number 65100 
 #
 ipv4-family unicast
  undo synchronization
  network 10.0.2.2 255.255.255.255 
  network 10.205.54.0 255.255.255.252 
  peer 10.205.54.1 enable
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
user-interface vty 16 20
#
wlan ac
#
return