
[V200R003C00]
#
 sysname SCRANTON BRANCH
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load flash:/portalpage.zip
#
 drop illegal-mac alarm
#
l2-topology detect enable
#
vlan batch 200
#
 wlan ac-global carrier id other ac id 0
#
 set cpu-usage threshold 80 restore 75
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$K8m.Nt84DZ}e#<0`8bmE3Uw}%$%$
 local-user admin service-type http
#
firewall zone Local
 priority 15
#
interface GigabitEthernet0/0/0
 description Link to RADIUM SPE
#
interface GigabitEthernet0/0/0.1001
 description DM_L3VPN
 dot1q termination vid 1001
 ip address 10.205.61.2 255.255.255.252 
 arp broadcast enable
#
interface GigabitEthernet0/0/1
 description Link to LAN
 ip address 192.168.200.1 255.255.255.0 
#
interface GigabitEthernet0/0/2
#
interface NULL0
#
interface LoopBack0
 ip address 10.0.4.4 255.255.255.255 
#
ip route-static 0.0.0.0 0.0.0.0 10.205.61.1
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
user-interface vty 16 20
#
wlan ac
#
return